.header {
  @media screen and (max-width: 1220px) {
    background-image: url(../images/header/header_mobile.jpg);
    padding-top: 35px;
    padding-bottom: 64px;
    padding-left: 19px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  margin-right: 63px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
}

.header__nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  width: 220px;
  height: 50px;
  border: 1px solid #fda700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fda700;
  cursor: pointer;
}

.header__nav__text {
  width: 213px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%; /* 26px/20 */
  color: #ffffff;
}

.header__text__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 725px;
}
.header__text__title--span {
  color: rgba(253, 167, 0, 1);
}

.header__text__about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  width: 524px;
  margin-left: 102px;
  text-align: center;
}

.video__container {
  position: relative;
  margin-top: 20px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba(13, 43, 109, 0.8);
  margin-left: 279px;
}

.video__svg {
  position: absolute;
  top: 45px;
  left: 45px;
  transform: translate(-50%, -50%);
}

.video__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-left: 106px;
}
