.header {
  @media screen and (max-width: 1220px) {
    background-image: url(../images/header/header_mobile.jpg);
    padding-top: 35px;
    padding-bottom: 64px;
    padding-left: 19px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  margin-right: 63px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
}

.header__nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  width: 220px;
  height: 50px;
  border: 1px solid #fda700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fda700;
  cursor: pointer;
}

.header__nav__text {
  width: 213px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%; /* 26px/20 */
  color: #ffffff;
}

.header__text__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 725px;
}
.header__text__title--span {
  color: rgba(253, 167, 0, 1);
}

.header__text__about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  width: 524px;
  margin-left: 102px;
  text-align: center;
}

.video__container {
  position: relative;
  margin-top: 20px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba(13, 43, 109, 0.8);
  margin-left: 279px;
}

.video__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-left: 106px;
}

.form {
  width: 729px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 71px;
  padding-top: 50px;
  padding-bottom: 59px;
  background-color: rgba(13, 43, 109, 0.8);
  margin-top: 20px;
}

.form__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #fda700;
}

.form__lable {
  margin-top: 20px;
  &:first-child {
    margin-top: 0px;
  }
}

.form__input {
  width: 587px;
  height: 55px;
  background-color: rgba(13, 43, 109, 1);
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  border: none;
}

.form__button {
  width: 587px;
  height: 59px;
  background: #fda700;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.user {
  background-color: rgba(13, 43, 109, 1);
}

.user__list {
  list-style: none;
}

.user__container {
  width: 1000px;
  padding-top: 72px;
  padding-bottom: 21px;
  padding-left: 201px;
  display: flex;
}

.user__item {
  margin-top: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fda700;
}

.user__text__white {
  color: #fff;
}
.user__item:first-child {
  margin-top: 0;
}

.Prblem {
  padding-top: 80px;
  padding-bottom: 33px;
  width: 767px;
}

.Problema__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%; /* 50px/50 */
  text-transform: uppercase;
  color: #373737;
  text-align: center;
}

.Problem__title-text {
  width: 718px;
  padding: 11px 0;
  background: #0d2b6d;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;

  color: #fda700;
}
.span__contain__text {
  color: #fda700;
}
.Problem__text_contain {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #373737;
  margin-bottom: 20px;
  width: 680px;
}

.Problem__contain--svg {
  background-color: #0d2b6d;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-left: 330px;
  position: relative;
  display: block;
}

.Problem__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
