<header class="header">
 <nav class="header__nav">
  <svg width="185" height="52">
   <use href="./images//svg/sprite.svg#logo"></use>
  </svg>
  <ul class="header__nav__list">
   <li class="header__nav__item">OFFERTA RISERVATA AI
    TRADER Ukraine</li>
   <li class="header__nav__item"><a class="header__nav__link" href="./">Crea un account</a></li>
  </ul>
 </nav>
 <p class="header__text__title">
  L'investimento intelligente
  che ti farà guadagnare </br>
  €9.288 in 5 ore </br>
  <span class="header__text__title--span">ed eliminare la povertà</span>
 </p>
 <p class="header__text__about">
  Con il nostro investimento intelligente potrai
  guadagnare migliaia di euro in meno di 7 giorni
  ed eliminare la povertà ottenendo profitti!
 </p>


</header>